@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexming.css);

body {
  overflow: auto;
  height: 120%;
}

#title{
  height: 50px;
  width: 99%;
  top: 0px;
  background-color: #0dadaa;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  font-size: 16pt;
}

#header{
  height: 50px;
  width: 99%;
  top: 50px;
  background-color: #0dadaa;
}

#table {
  bottom: 0;
  overflow-y: scroll;
  position: absolute;
  top: 110px;
  width: 99%;
}

.train-row {
  background-color: #f49118;
  height: 50px;
  width: 100%;
  margin-top: 5px;
}
.header-element{
  background-color: #0dadaa;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
}
.car-type-header {
  width: 12%;
}

.cell {
  float: left;
  height: 100%;
  line-height: 50px;

}
.seat-availability-wrapper .cell{
  line-height: 25px;

}
.seat-availability-wrapper{
  height: 25px;
  width: 72%;
  float: left;
}

.train-no {
  width: 8%;
}

.dept-time, .dest {
  width: 10%;
}

.station-header {
  color: white;
  cursor: pointer;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  width: 5%;
}

.station-header:hover {
  background-color: #10a3a0;
}

.car-type {
  width: 16.6%;
  background-color: #f49118;
}

.station {
  width: 6.94%;
  text-align: center;
}

.business, .standard {
  background-color: #505d5e;
}

#footer{
	height: 200px;
	width: 99%;
	position: absolute;
	background-color: #1a4f75;
	bottom: -205px;
}

#disclaimer, #data-source{
	height: 200px;
	width: 50%;
	float: left;
	color: #cfd2d6;
}

.footer-title{
	font-size: 14pt;
	padding: 0px 30px 0px 30px;
}
.footer-content{
	font-size: 10pt;
	padding: 0px 30px 0px 30px;
	line-height: 16pt;
}
